/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #757575;
}

/* header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;

  text-decoration: none;
}

.web {
  color: #2196f3;
}

.nav-list,
.header-contacts {
  list-style-type: none;
}

.nav-list-link,
.header-contacts-link {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;

  text-decoration: none;
}

.nav-list-link {
  color: #212121;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #2196f3;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #2196f3;
}

/* main */

/* hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
